body{
    display: grid;
    min-height: 100%;
    text-align: center;
    background-color: rgb(231, 212, 231);
}

#header {
    display: flex;
    justify-content: center;
}

#header span {
    padding: 20px;
    padding-top: 5px;
}

#footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

#main, #projects{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

::-webkit-scrollbar{
    width: 0px;
}

#main .title{
    margin-bottom: 0;
    padding-bottom: 0;
}

#main .subtitle{
    margin-top: 0;
    font-size: 13px; 
}

.svg-link{
    display: inline-block;
    position: relative;
    z-index: 1;
}

.svg-link svg:hover{
    fill: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

a:visited {
    text-decoration: none;
}

.card {
    padding: 10px;
}

.card img{
    width: 200px;
    height: 200px;
}

.card {
    position: relative;
    text-align: center;
}

.card span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: plum;
    border-radius: 20px;
    padding: 5px;
    min-width: 30px;
    cursor: pointer;
}

.hidden {
    visibility:hidden;
}

#projects{
    display: flex;
    max-width: 600px;
    height: fit-content;
    overflow-y:scroll;
    scroll-behavior: smooth;
    border: white;
    border-radius: 50px;
    border-style: solid;
    padding-top: 15px;
}

#project {
    margin: 0 auto;
    max-width: 700px;
    max-height: 700px;
    overflow-x: scroll;
    border: white;
    border-radius: 50px;
    border-style: solid;
}

.project-title{
    font-size: 20px;
    font-weight: 500;
}

.description-container p{
    max-width: 500px;
    text-align: left;
    margin: 0 auto;
    padding: 10px;
}

.screenshots-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.screenshot {
    max-width: 500px;
    display: none;
    border-radius: 30px;
}

.prev, .next {
    align-self: center;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next svg:hover, .prev svg:hover{
    fill: white;
    cursor: pointer;
}
