body{
    font-size: 15px;
    display: grid;
    min-height: 100%;
    text-align: center;
    background-color: rgb(231, 212, 231);
}

#header {
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
}

#header span {
    padding: 20px;
    padding-top: 5px;
}

#footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

#main, #projects{
    position: absolute;
    top: 50%;
    /* bottom: 50%; */
    left: 50%;
    transform: translate(-50%,-50%);
}

#projects{
    display: flex;
    max-width: 600px;
    height: fit-content;
    overflow-y:scroll;
    scroll-behavior: smooth;
    border: white;
    border-radius: 50px;
    border-style: solid;
    padding-top: 15px;
}

::-webkit-scrollbar{
    width: 0px;
}

#main .title{
    margin-bottom: 0;
    padding-bottom: 0;
}

#main .subtitle{
    margin-top: 0;
    font-size: 13px; 
}

.svg-link{
    display: inline-block;
    position: relative;
    z-index: 1;
}

svg:hover{
    fill: white;
}

/* .svg-link span {
    display: inline-block;
}

.svg-link span svg{
    position: relative;
    z-index: -1;
} */

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

a:visited {
    text-decoration: none;
}

.card {
    padding: 10px;
}

.card img{
    width: 200px;
    height: 200px;
}

.card img:hover{
    background-color: white;
    border-radius: 20px;
}

.card {
    position: relative;
    text-align: center;
}

.card span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: plum;
    border-radius: 20px;
    padding: 5px;
}

.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
}
